<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
	<link rel="icon" href="/favicon.ico" type="image/gif" sizes="16x16">

	<title>My Weather app</title>
</head>
<body>
    <div class="main">
		<div class="container">
			<div class="app twelve columns">
				<h1 class="headline">About me</h1>
                {{>header}}
                <br>
                <center>
				<img src="/images/RavindraBosamiyaDp.jpg" alt="" width="250px" height="300px">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque autem error eveniet aliquam commodi fugit porro fugiat dolorum voluptate quo, assumenda adipisci, libero tenetur. Impedit aliquam saepe ratione suscipit! Ea?</p>
				
				</center>
				
				
                {{>footer}}
					


			</div>  <!-- app -->
		</div> <!-- container -->
	</div> <!-- main -->
</body>
</html>